<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head_declaration}"></head>
<body>
<div class="uk-section uk-section-muted uk-flex-middle uk-animation-fade"
     style="background-image: url(images/adminPage.jpg); background-size:cover" uk-height-viewport>
    <nav th:replace="~{fragments/navbar :: nav(locale = ${#locale.toString()})}"></nav>

    <div uk-alert>
        <ul uk-accordion>
            <li>
                <a class="uk-accordion-title" href="#" th:text="#{t.searchUsers}"></a>
                <div class="uk-accordion-content">
                    <div th:replace="~{admin/fragments/usersTable :: data(users = ${users}, filter = ${filter}, total = ${total})}"></div>
                </div>
            </li>
        </ul>
    </div>

</div>
</body>
</html>