<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                  http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>local</id>
            <properties>
                <spring.active.profile>local</spring.active.profile>

                <spring.datasource.url>jdbc:mysql://localhost/daily_reminder?allowPublicKeyRetrieval=true</spring.datasource.url>
                <spring.datasource.username>root</spring.datasource.username>
                <spring.datasource.password>root</spring.datasource.password>

                <email.username>carlex2021bg@gmail.com</email.username>
                <email.password>carlex-diplomna-rabota-2021</email.password>

                <spring.jpa.properties.hibernate.dialect>org.hibernate.dialect.MySQL8Dialect</spring.jpa.properties.hibernate.dialect>
            </properties>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
    </profiles>

</settings>