<!DOCTYPE html>
<html lang="en">
<head th:fragment="head_declaration">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/uikit.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/uikit-icons.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</head>
</html>