<html lang="en">
<head th:replace="~{fragments/head :: head_declaration}"></head>
<body>

<div class="uk-section uk-section-muted uk-flex-middle uk-animation-fade" uk-height-viewport>
    <form class="form-signin" method="post" action="/dailyReminder/login">
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center" th:text="#{l.welcome.back}"></h3>
                        <form>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input id="username" name="username" th:placeholder="#{l.username}" class="uk-input uk-form-large form-control" type="text">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input id="password" name="password" th:placeholder="#{l.password}" class="uk-input uk-form-large form-control" type="password">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1" th:text="#{b.login}"></button>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                <span th:text="#{l.notRegistered} + ' '"></span> <a href="/dailyReminder/registrationForm" th:text="#{l.createAccount}"></a>
                            </div>
                            <div class="uk-text-small uk-text-center">
                                <span th:text="#{l.forgottenPassword} + ' '"></span> <a href="/dailyReminder/recoverPasswordForm" th:text="#{l.recoverPassword}"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
</html>