<!DOCTYPE html>
<html lang="en">
<div th:remove="tag" th:fragment="table(diaryRecords, filter, total)">

    <div th:if="${!#lists.isEmpty(diaryRecords)}" style="margin-top: 1%">
        <div>
            <div>
                <span th:text="#{l.total} + ' '"></span>
                <span th:text="${total}"></span>
            </div>
        </div>
        <hr>
        <div>
            <div>
                <table class="uk-table uk-table-striped uk-table-small">
                    <thead>
                    <tr>
                        <th style="width: 20%" th:text="#{l.date}"></th>
                        <th th:text="#{l.content}"></th>
                        <th style="width: 10%" th:text="#{l.options}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,itemStat : ${diaryRecords}">
                        <td th:text="${#dates.format(item.createdDate,'dd.MM.yyyy HH:mm:ss')}"></td>
                        <td th:text="${#strings.abbreviate(item.content, 100)}"></td>
                        <td class="options text-center">
                            <a class="diary-view-content" th:data-content="${item.content}" th:data-createdDate="${item.createdDate}">
                                <span uk-icon="icon: info"></span>
                            </a>
                            <a th:if="${item.geoLat != null && item.geoLng != null}" class="diary-view-geo-location" th:data-lat="${item.geoLat}" th:data-lng="${item.geoLng}" th:data-createdDate="${item.createdDate}">
                                <span uk-icon="icon: world"></span>
                            </a>
                            <a th:uk-toggle="'target: #diary-delete-' + ${item.id}" >
                                <span uk-icon="icon: trash"></span>
                            </a>
                            <div th:id="'diary-delete-' + ${item.id}" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title" th:text="' ' + #{p.confirmDeletion}"></h2>
                                    <button class="uk-button uk-button-default uk-modal-close" type="button" th:text="#{b.no}"></button>
                                    <button class="delete-diary-entry uk-button uk-button-primary uk-modal-close" th:data-id="${item.id}" type="button" th:text="#{b.yes}"></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="paginator">
                    <input type="hidden" id="currentPage" th:value="${filter.page}">
                    <ul class="uk-pagination uk-flex-center" uk-margin>
                        <li th:if="${filter.page > 1}" class="diary-prev-page"><a><span uk-pagination-previous></span></a></li>
                        <li th:each="i: ${#numbers.sequence(1, (total%filter.pageSize == 0 ? (total/filter.pageSize) : (total/filter.pageSize + 1)))}" th:value="${i}" th:class="${filter.page == i ? 'diary-page uk-active':'diary-page'}"><a><span th:style="${filter.page == i ? 'color: red':''}" th:text="${i}"></span></a></li>
                        <li th:if="${filter.page < (total%filter.pageSize == 0 ? (total/filter.pageSize) : (total/filter.pageSize + 1))}" class="diary-next-page"><a><span uk-pagination-next></span></a></li>
                    </ul>
                </div>
                <div id="modal-location" uk-modal></div>
                <div id="modal-view" uk-modal></div>
            </div>
        </div>
    </div>
</div>
</html>