<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head_declaration}"></head>
<body>
<div class="uk-section uk-section-muted uk-flex-middle uk-animation-fade" style="background-image: url(images/calendar.jpg); background-size:cover" uk-height-viewport th:with="securityUtil=${T(com.alex.daily_reminder.daily_reminder.util.SecurityUtil)}, securityPermission=${T(com.alex.daily_reminder.daily_reminder.security.config.SecurityPermission)}">
    <nav th:replace="~{fragments/navbar :: nav(locale = ${#locale.toString()})}"></nav>

    <div uk-alert>
        <ul uk-accordion>
            <li th:if="${securityUtil.hasRole(securityPermission.USER_READ_ORGANIZER.getPermission())}">
                <a class="uk-accordion-title" href="#" th:text="#{t.upcomingTasks}"></a>
                <div class="uk-accordion-content" id="upcoming-tasks-container">
                    <div th:replace="~{organizer/fragments/upcomingTasksTable :: table(upcomingTasks = ${upcomingTasks})}"></div>
                </div>
            </li>
            <li th:if="${securityUtil.hasRole(securityPermission.USER_READ_ORGANIZER.getPermission())}">
                <a class="uk-accordion-title" href="#" th:text="#{t.searchEntries}"></a>
                <div class="uk-accordion-content">
                    <div th:replace="~{organizer/fragments/organizerTable :: data(organizerRecords = ${organizerRecords}, filter = ${filter}, total = ${total})}"></div>
                </div>
            </li>
            <li id="create-organizer-entry-li" th:if="${securityUtil.hasRole(securityPermission.USER_WRITE_ORGANIZER.getPermission())}">
                <a class="uk-accordion-title" href="#" th:text="#{t.createNewEntry}"></a>
                <div class="uk-accordion-content" id="organizer-content-container">
                    <div th:replace="~{organizer/fragments/organizerContent :: organizerContent(organizerEntry = ${organizerEntry}, errors = null, message = null)}"></div>
                </div>
            </li>
        </ul>
    </div>
    <div id="modal-location" uk-modal></div>
    <div id="modal-view" uk-modal></div>
    <div id="modal-note" uk-modal></div>
</div>
</body>
</html>