<!DOCTYPE html>
<html lang="en">
<div class="uk-modal-dialog uk-modal-body" style="width: 80%; height: auto"
     th:fragment="view-geo-location(geoLat, geoLng, createdDate)">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title"><span th:text="${createdDate}"></span></h2>

    <div id="map" class="map"></div>
    <input type="hidden" id="geoLat" th:value="${geoLat}">
    <input type="hidden" id="geoLng" th:value="${geoLng}">
    <script type="text/javascript">

        $(document).ready(function () {
            var geoLat = $('#geoLat').val();
            var geoLng = $('#geoLng').val();

            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([geoLng, geoLat]),
                    zoom: 10
                })
            });

            var layer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                        new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([geoLng, geoLat]))
                        })
                    ]
                })
            });
            map.addLayer(layer);
            map.updateSize();
        });

    </script>
</div>
</html>